*{
      margin:0;
      padding:0;
      box-sizing: border-box;  
      cursor: none; 
      touch-action: manipulation;   
    }
    html,#app{
      width:100%;
      height: 100%;
      cursor: none;
    }
    body{
      width:calc(100% - 100px);
      height: calc(100% - 100px);
      background-color: black;
      background-size: cover;
      background-position: center;
    }
    .nav-list{
      display: flex;
      flex-wrap: wrap;
      align-content: space-around;
      justify-content: center;
    }
    .nav-list li{
      list-style: none;
      margin: 20px;
      font-size: 25px;
    }
    .nav-list li a{
      text-decoration: none;
      color:#F9FAF7;
      padding:10px 20px;      
    }
    .nav-list li a:hover{
      background-color:orange;
    }
    .nav-list li:nth-child(2) a{
      background-color:orange;
    }
    .nav-list li:nth-child(2) a:hover{
      background-color:grey;
    }
    .player{
      text-align:center;
    }
    .play-now_spacer{
      width:100px;
      position: fixed;
      bottom:100px;
    }
    .gameSection{
      height: 100%;
      width:100%;
    }
    .game-wrapper{
      height: 100%;
      width: 100%;
    }